<!DOCTYPE html>
<html>
  <head>
      <!-- Using these for styles and js -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"/>

      <!--Styles for page  -->
    <title>{% block title %}Home{% endblock %}</title>
      <style>
        body {
            background-color: #f0f0f0;
        }

        .navbar {
            background-color: #333;
        }

        footer {
            background-color: #eaeaea;
        }
    </style>
  </head>
  <body>
  <!-- Navigation bar for the application -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        <!-- Making it collapsable if the screen is not wide enough -->
      <div class="collapse navbar-collapse" id="navbar">
          <!-- Only displaying certain pages if we are logged in else just display the login and signup -->
        <div class="navbar-nav">
            {%if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="todo" href="/todo">To do List</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            {%else %}
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signup" href="/signup">Sign up</a>
            {%endif %}
        </div>
      </div>
    </nav>

    <!-- This will handle any messages we want to print out to the user -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %} {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%} {%endfor%} {%endif%} {%endwith%}

    <!-- Checks if user is on the home page if we are then it displays a welcome one letter at a time -->
    {% if is_home_page %}
    <div class="container-fluid" style="background-color: #343a40; padding: 0px;">
        <div style="background-color:#343a40; height:100%;">
            <div class="row">
                <div class="col">
                    <br/>
                    <div class="jumbotron align-items-center" align="center" style="background-color: #343a40;">
                        <div class="container-fluid">
                            <div class="row"></div>
                            <div class="row">
                                <div class="col">
                                    <typewriting style="color: rgba(245, 245, 245, 0.8); font-size: 2em"></typewriting>
                                    <script>
                                        var content = 'Welcome';
                                        var ele = '<span>' + content.split('').join('</span><span>') + '</span>';
                                        $(ele).hide().appendTo('typewriting').each(function (i) {
                                            $(this).delay(150 * i).css({
                                                display: 'inline',
                                                opacity: 0
                                            }).animate({
                                                opacity: 1
                                            }, 100);
                                        });
                                    </script>
                                </div>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Checks if user is in the to do page and has a similar container to the welcome page -->
    {% if is_todo_page %}
    <div class="container-fluid" style="background-color: #343a40; padding: 0px;">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="jumbotron" style="background-color: #343a40;">
                    <h1 style="color: #FFFFFF;" align="center">To do List</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Creating the footer and making sure it in on the bottom of the page -->
    <div class="container-fluid padding" style="flex-grow: 1;">{% block content %} {% endblock %}</div>
    <body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
        <footer style="text-align: center; background-color: #eaeaea;">
            <br>
            <p class="copyright" style="color: #c0c0c0;">Graham Cassoutt © 2024</p>
        </footer>
    </body>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" rel="stylesheet"></script>
  </body>
</html>