{%extends "base.html" %}
{%block title %} Home {%endblock %}
{%block content %}
<br/>
<div align="center">
    <form method="POST" action="/" >
        <input type="text" name="searchQuery" placeholder="Enter a Task">
        <button type="submit">Search</button>
    </form>
</div>
<br/>
<br/>
<ul>
    {% if searchResults %}
        {%for result in searchResults%}
        <li class="list-group-item">
            {{result.data}}
            <button type="button" class="close" onClick="deletetask({{result.id}})">
                <span aria-hidden="true">x</span>
            </button>
        </li>
        {% endfor %}
    {%endif%}
</ul>

{%endblock%}